<yaga-map [doubleClickZoomEnabled]="false"
          [lat]="lat"
          [lng]="lng">
  <yaga-marker *ngFor="let marker of markers"
               [draggable]="false"
               [display]="true"
               [opacity]="1"
               [lat]="marker.lat"
               [lng]="marker.long">
    <yaga-icon [iconUrl]="iconUrl"
               [iconSize]="iconSize"
               [iconAnchor]="iconAnchor"
               [popupAnchor]="popupAnchor"
               [shadowUrl]="shadowUrl"
               [shadowSize]="shadowSize"
               [shadowAnchor]="shadowAnchor"></yaga-icon>
    <!-- [(zIndex)]="getDuplexPropertyByName('zIndex').value" -->
    <yaga-tooltip>This is the content of the tooltip</yaga-tooltip>
    <yaga-popup>
      <wis-marker-info [marker]="marker"></wis-marker-info>
    </yaga-popup>
  </yaga-marker>
  <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
</yaga-map>