<mat-card *ngIf="flagForm">
  <mat-card-title>Е, как е морето в момента?</mat-card-title>
  
  <mat-card-content>    
      <form [formGroup]="flagForm" (ngSubmit)="onSubmit()">   
        
          <div class="wis-full-width flags">
            <div (click)="setFlagType(flagType.GREEN)">
              <input type="radio" id="color-1" name="color" value="color-1" checked>
              <label for="color-1">
                <span>
                  <img src="assets/images/green-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>

            <div (click)="setFlagType(flagType.YELLOW)">
              <input type="radio" id="color-2" name="color" value="color-2">
              <label for="color-2">
                <span>
                  <img src="./assets/images/yellow-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>
            
            <div (click)="setFlagType(flagType.RED)">
              <input type="radio" id="color-3" name="color" value="color-3">
              <label for="color-3">
                <span>
                  <img src="./assets/images/red-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>
          </div>
          <br />
          <mat-divider></mat-divider>
          <h2 style="text-align: left">А може би малко детайли?</h2>

          <mat-form-field class="wis-full-width text-area">    
            <textarea formControlName="description" matInput placeholder="Можеш да ги въведеш тук" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
          </mat-form-field>

          <h2 style="text-align: right">... или поне снимка?</h2>
          <div class="wis-full-width">
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
          </div>

          <br />
          <button type="submit" mat-raised-button color="primary" (click)="!!uploader.getNotUploadedItems().length && uploader.uploadAll()">Кажи на всички</button>
      </form>
  </mat-card-content>
</mat-card>   
