<mat-card *ngIf="flagForm">
  <mat-card-title>Е, как е морето в момента?</mat-card-title>

  <mat-card-content>
      <form [formGroup]="flagForm" (ngSubmit)="onSubmit()">

          <div class="wis-full-width flags">
            <div (click)="setFlagType(flagType.GREEN)">
              <input type="radio" id="color-1" name="color" value="color-1" checked>
              <label for="color-1">
                <span>
                  <img src="assets/images/green-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>

            <div (click)="setFlagType(flagType.YELLOW)">
              <input type="radio" id="color-2" name="color" value="color-2">
              <label for="color-2">
                <span>
                  <img src="./assets/images/yellow-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>

            <div (click)="setFlagType(flagType.RED)">
              <input type="radio" id="color-3" name="color" value="color-3">
              <label for="color-3">
                <span>
                  <img src="./assets/images/red-flag.png" alt="Checked Icon" />
                </span>
              </label>
            </div>
          </div>
          <br />
          <mat-divider></mat-divider>
          <h2 style="text-align: left">А може би малко детайли?</h2>

          <mat-form-field class="wis-full-width text-area">
            <textarea formControlName="description" matInput placeholder="Можеш да ги въведеш тук" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>

          <h2 style="text-align: right">... или поне снимка?</h2>
          <div class="wis-file-field wis-full-width">
            <a class="btn-floating">
              <img src="./assets/images/upload-icon.png" alt="">
              <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
            </a>
            <mat-form-field >
              <div class="file-path-wrapper">
                <input matInput placeholder="Избери файл" [(ngModel)]="uploadFileName" [ngModelOptions]="{standalone: true}">
              </div>
            </mat-form-field>
          </div>

          <br />
          <button class="send" mat-raised-button color="primary">Кажи на всички</button>
      </form>
  </mat-card-content>
</mat-card>
