$epm-primary: (
  50 : #eff9fa,
  100 : #d6f0f3,
  200 : #bbe6ec,
  300 : #9fdce4,
  400 : #8bd5de,
  500 : #76cdd8,
  600 : #6ec8d4,
  700 : #63c1ce,
  800 : #59bac8,
  900 : #46aebf,
  A100 : #ffffff,
  A200 : #e2fbff,
  A400 : #aff4ff,
  A700 : #96f0ff,
  contrast: (
      50 : #ffffff,
      100 : #ffffff,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
