$epm-secondary: (
    50 : #f8f9ea,
    100 : #edf0cb,
    200 : #e1e7a9,
    300 : #d4dd86,
    400 : #cbd56c,
    500 : #c2ce52,
    600 : #bcc94b,
    700 : #b4c241,
    800 : #acbc38,
    900 : #9fb028,
    A100 : #fdfff0,
    A200 : #f6ffbd,
    A400 : #efff8a,
    A700 : #ecff70,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
