@import '~normalize.css/normalize.css';
@import '~leaflet/dist/leaflet.css';
@import '~@angular/material/theming';
@import './styles/utils.scss';
@import './styles/palettes/primary.scss';
@import './styles/palettes/secondary.scss';

@include mat-core();

$epm-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(mat-palette($epm-primary), mat-palette($epm-secondary), $epm-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


html, body {
  width: 100%;
  height: 100%;
}

// * {
//   font-family: 'Pacifico', cursive !important;
// }

// body::after {
//   content: "";
//   background-image: url('/assets/images/beach3.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;   
// }